body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#memeBtn {
    color: black;
    padding: 5px;
    height: 60px;
    margin-top: 3%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}